
  
  .card {
    background-color: aliceblue;
    box-shadow: 0 0 15px rgba(0, 0, 0, 4);
    flex:1 1 21rem;
    flex-wrap: wrap;
    align-self: normal;
    display: flex ;
    flex-direction: column;
    align-items: center;

  }

.card .btn{
    display: inline-block;
    background-color: green;
    color: white;
    text-align: center;
    padding: 10px 20px;
    margin-top: auto;
    
}